@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

:root {
  /* Fuentes */
  --font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colores principales */
  --color-text: #ffffff;
  --color-background: #000000;
  --color-primary: #444444;
  --color-primary-hover: #666666;
  --color-accent: #ff0000; /* ejemplo: hit */
  --color-cell-empty: rgba(173, 216, 230, 0.384);
  --color-cell-hit: red;
  --color-cell-miss: darkblue;
  --color-card-cell: lightgray;
  --color-card-cell-drawn: green;
  --color-winner: green;
  --color-links-bg: #bdb7f3;
  --color-links-text: #ebe1e1;
  --color-links-border: #000;

  /* Tamaños */
  --cell-size: 30px;
  --card-cell-size: 50px;
  --gap: 5px;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
